<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.UserMapper">
	<select id="selectUserById" resultType="CustomUserDetails">
		select * from user_list where username = #{username}
	</select>
	
	<select id="getUser" resultType="CustomUserDetails">
		select * from user_list where username = #{username}
	</select>
	
	<select id="getUser_email" resultType="CustomUserDetails">
		select * from user_list where email = #{email}
	</select>
	
	<insert id="registerUser">
		insert into user_list (username,password,enabled,authority,name,email,phone) values
		(#{username},#{password},'1','ROLE_USER',#{name},#{email},#{phone})
	</insert>
	
	<update id="setPw">
		UPDATE user_list
		SET PASSWORD
		= #{password}
		WHERE USERNAME = #{username}
	</update>
	
</mapper>